@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color:#fefbe9;
    overflow: auto;
    margin: 0px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fefbe9 ;
    font-family:  'Montserrat', sans-serif;
    font-size: 100%;
    padding: 30px,10%;
}
.nav_links{
    list-style: none;
}
.nav_links li {
    display:inline-block ;
    padding:20px;
}
a:link{
    text-decoration: none;
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color:#f0a04b;

}
.card:hover{
    background-color: #f0a04b;
    transform: scale(1.03);

}
.img-left-layout{
    width: 400px;
    height:600px ;
    display: flex;
    float: left;
    margin:15px;

}
.container{
    position: relative;
    margin: 50px auto;
    padding: 50px;

}
.heading{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    color:  #e1eedd;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    float: right;
    padding: 10px;
    margin: 10px;
}
.card{
    width: 400px;
    background: #e1eedd;
    border:none;
    border-radius: 10px;
    transition: 0.3s;
}
.card-header{
    text-align: center;
    padding: 50px 10px;
    background: linear-gradient(to right, #f6c453, #f0a04b);
    color: #fefbe9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-body{
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
}
.card .btn{
    display: block;
    color: rgb(50,50,50);
    text-align: center;
    background:linear-gradient(to right, rgb(200,200,200),rgb(50,50,50)) ;
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px rgba(168, 168, 168, 0.3);
}
.btn{
    border-radius: 5px;
}
.btn:hover{
    color: black;
}
