@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body{
    background-color:#fefbe9;
    overflow: auto;
    margin: 0px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fefbe9 ;
    font-family:  'Montserrat', sans-serif;
    font-size: 100%;
    padding: 30px,10%;
}
.nav_links{
    list-style: none;
}
.nav_links li {
    display:inline-block ;
    padding:20px;
}
a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
}
a:hover{
    color: #a1a1a1 ;
}
.login{
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
}
.login-header, .login p {
    margin-top: 0;
    margin-bottom: 0;
}
.login-header {
    background-color:#183a1d ;
    color:#e1eedd  ;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    border-top-right-radius : 5px;
    border-top-left-radius :5px;
}
.login-container{
    background-color: #e1eedd ;
    padding: 12px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.login p {
    padding: 12px;
    
}

    

.login input{
    box-sizing: border-box;
    
    width: 100%;
    border-width:1px;
    border-style:solid;
    padding: 12px;
    font-size: 20px;
    background-color: white;
    border-color: #bbb;
    color: #444;
    border-radius: 5px;

}
#gender{
    display: flex;
    flex-direction: row;
    color: #777;
    font-size: 20px;
    
}
.login input :focus{
    background-color: #bbb;
}
.login input[type="submit"] {
    background-color: #183a1d;
    border-color: transparent;
    color:#ddd;
    cursor: pointer;
}
.login input[type="submit"]:hover {
    transform: scale(1.03);
}
footer{
    background-color: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    padding-bottom:0 ;
    color:#fefbe9 ;

}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px ;
}
.socials a{
    text-decoration: none;
    color: #fefbe9;
}
.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: #f0a04b;
}
.footer-bottom{
    background-color: #000;
    width: 100vw;
    height: auto;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}